{% extends "layout.html" %}
{% block title %}Module Status{% endblock %}
{% block head %}
    <!-- metrics-graphics stylesheet goes above super() because we want bootstrap's style
    (which is linked in super()) to override it. -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/metricsgraphics.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/mg_line_brushing.css') }}">
    {{ super() }}
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
	{% if error %}
	<div class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	Error: {{ error }}
	</div>
	{% else %}
	<div class="row">
	    <div class="col-md-2">
                <h3>Test Info</h3>
                <table class="table table-bordered">
                    <tr>
                        <th>Date</th>
                        <td>{{ info['timestamp'].strftime("%Y-%m-%d %H:%M:%S") }}</td>
                    </tr>
                    <tr>
                        <th>Barcode</th>
                        <td>{{ info['barcode'] }}</td>
                    </tr>
                    <tr>
                        <th>Voltage</th>
                        <td>{{ info['voltage'] }}</td>
                    </tr>
                    <tr>
                        <th>TEC (A)</th>
                        <td>{{ info['tec_resistance_a'] }}</td>
                    </tr>
                    <tr>
                        <th>TEC (B)</th>
                        <td>{{ info['tec_resistance_b'] }}</td>
                    </tr>
                    <tr>
                        <th>Temperature (C) (side A)</th>
                        <td>{{ info['temp_a'] }}</td>
                    </tr>
                    <tr>
                        <th>Temperature (C) (side B)</th>
                        <td>{{ info['temp_b'] }}</td>
                    </tr>
                    <tr>
                        <th>Git SHA1</th>
                        <td>{{ info['git_sha1'] }}</td>
                    </tr>
                    <tr>
                        <th>Git Dirty</th>
                        <td>{{ info['git_dirty'] }}</td>
                    </tr>
                    <tr>
                        <th>Institution</th>
                        <td>{{ info['runs_institution'] }}</td>
                    </tr>
                </table>
	    </div>
	    <div class="col-md-2">
                <h3>Module Info</h3>
                {% if 'modules_timestamp' in info %}
                <table class="table table-bordered">
                    <tr>
                        <th>Date Added to Database</th>
                        <td>{{ info['modules_timestamp'].strftime("%Y-%m-%d %H:%M:%S") }}</td>
                    </tr>
                    <tr>
                        <th>Barcode</th>
                        <td>{{ info['barcode'] }}</td>
                    </tr>
                    <tr>
                        <th>SiPM Type</th>
                        <td>{{ info['sipm'] }}</td>
                    </tr>
                    <tr>
                        <th>Assembly Institution</th>
                        <td>{{ info['modules_institution'] }}</td>
                    </tr>
                </table>
                {% else %}
                <div class="alert alert-danger">
                No module found with barcode {{ info['barcode'] }} in database. Did you forget to upload it <a href="{{ url_for('upload_new_module_view')}}">here</a>?
                </div>
                {% endif %}
	    </div>
	    <div class="col-md-8">
                <h3>Individual Channel Results</h3>
                <table class="table table-hover table-condensed">
		    <thead>
                        <tr>
                            <th class="text-center">Channel</th>
                            <th class="text-center">Light Output (PE/MeV)</th>
                        </tr>
                    </thead>
                    {% for i in range(info['channels']|length) %}
		        <tr onclick="window.document.location = '{{ url_for('channel_status',key=info['keys'][i]) }}';">
                            <td class="text-center">{{ info['channels'][i] }}</td>
                            <td class="text-center">{{ "%.0f" % (info['pc_per_kev'][i]*1000/(info['spe'][i]/4.0)) }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
	<div class="row">
	    <div class="col-md-12" id='ch-light-output'></div>
        </div>
	{% endif %}
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metricsgraphics.min.js') }}"></script>

    <script>
        var x = {{ info['channels'] | tojson }};
        var pc_per_kev = {{ info['pc_per_kev'] | tojson }};
        var spe = {{ info['spe'] | tojson }};

        var light_output = new Array();
        for (var i=0; i < x.length; i++) {
            if (pc_per_kev[i] !== null)
                light_output.push({'x': x[i], 'y': pc_per_kev[i]/(0.511*spe[i])});
        }

        MG.data_graphic({
            title: "Light Output",
            description: "Light Output",
            data: light_output,
            chart_type: 'point',
            width: $('#ch-light-output').width(),
            height: 250,
            left: 100,
            target: '#ch-light-output',
            x_accessor: 'x',
            y_accessor: 'y',
            x_label: 'Channel',
            y_label: 'Light Output (PE/MeV)'
        });
    </script>
{% endblock %}
