{% extends "layout.html" %}
{% block title %}Module Status{% endblock %}
{% block head %}
    <!-- metrics-graphics stylesheet goes above super() because we want bootstrap's style
    (which is linked in super()) to override it. -->
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/metricsgraphics.css') }}">
    <link rel="stylesheet" type="text/css"  href="{{ url_for('static',filename='css/mg_line_brushing.css') }}">
    {{ super() }}
    <style>
        .table th {
           text-align: center;   
        }
        .table td {
           text-align: center;   
        }
    </style>
{% endblock %}
{% block body %}
    {{ super() }}
    <div class="container">
	{% if error %}
	<div class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
	Error: {{ error }}
	</div>
	{% else %}
	<div class="row">
	    <div class="col-md-2">
                <h3>Test Info</h3>
                <table class="table table-bordered table-condensed">
                    <tr>
                        <th>Date</th>
                        <td>{{ info['timestamp'].strftime("%Y-%m-%d %H:%M:%S") }}</td>
                    </tr>
                    <tr>
                        <th>Barcode</th>
                        <td>{{ info['barcode'] }}</td>
                    </tr>
                    <tr>
                        <th>Voltage</th>
                        <td>{{ "%.2f" % info['voltage'] }}</td>
                    </tr>
                    <tr>
                        <th>TEC (A)</th>
                        <td>{{ info['tec_resistance_a'] }}</td>
                    </tr>
                    <tr>
                        <th>TEC (B)</th>
                        <td>{{ info['tec_resistance_b'] }}</td>
                    </tr>
                    <tr>
                        <th>Temperature (C) (side A)</th>
                        <td>{{ info['temp_a'] }}</td>
                    </tr>
                    <tr>
                        <th>Temperature (C) (side B)</th>
                        <td>{{ info['temp_b'] }}</td>
                    </tr>
                    <tr>
                        <th>Git SHA1</th>
                        <td>{{ info['git_sha1'] }}</td>
                    </tr>
                    <tr>
                        <th>Git Dirty</th>
                        <td>{{ info['git_dirty'] }}</td>
                    </tr>
                    <tr>
                        <th>Institution</th>
                        <td>{{ info['runs_institution'] }}</td>
                    </tr>
                </table>
	    </div>
	    <div class="col-md-2">
                <h3>Module Info</h3>
                {% if 'modules_timestamp' in info %}
                <table class="table table-bordered table-condensed">
                    <tr>
                        <th>Date Added to Database</th>
                        <td>{{ info['modules_timestamp'].strftime("%Y-%m-%d %H:%M:%S") }}</td>
                    </tr>
                    <tr>
                        <th>Barcode</th>
                        <td>{{ info['barcode'] }}</td>
                    </tr>
                    <tr>
                        <th>SiPM Type</th>
                        <td>{{ info['sipm'] }}</td>
                    </tr>
                    <tr>
                        <th>Assembly Institution</th>
                        <td>{{ info['modules_institution'] }}</td>
                    </tr>
                </table>
                {% else %}
                <div class="alert alert-danger">
                No module found with barcode {{ info['barcode'] }} in database. Did you forget to upload it <a href="{{ url_for('upload_new_module_view')}}">here</a>?
                </div>
                {% endif %}
	    </div>
	    <div class="col-md-8">
	        <div id='ch-light-output'></div>
	        <div id='ch-spe'></div>
	        <div id='ch-pc-per-kev'></div>
            </div>
        </div>
	<div class="row">
	    <div class="col-md-12">
                <h3>Individual Channel Results</h3>
                <table class="table table-hover table-condensed table-striped">
		    <thead>
                        <tr>
                            <th>Channel</th>
                            <th>pC/keV</th>
                            <th>SPE Charge (pC)</th>
			    <th>Pass</th>
                            <th>Light Output (PE/MeV)</th>
                        </tr>
                    </thead>
                    {% for i in range(info['channels']|length) %}
		        <tr onclick="window.document.location = '{{ url_for('channel_status',key=info['keys'][i]) }}';">
                            <td>{{ info['channels'][i] }}</td>
                            <td>{{ "%.2f" % info['pc_per_kev'][i] }}</td>
                            <td>{{ "%.2f" % info['spe'][i] }}</td>
                            <td>
                            {% if info['pass'][i] %}
                                <span class="glyphicon glyphicon-ok-sign text-success"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove-sign text-danger"></span>
                            {% endif %}
                            </td>
                            <td>{{ "%.0f" % (info['pc_per_kev'][i]*5.85*1000/info['spe'][i]) }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
	{% endif %}
    </div>
{% endblock %}
{% block script %}
    <script src="{{ url_for('static', filename='js/d3.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/metricsgraphics.min.js') }}"></script>

    <script>
        var x = {{ info['channels'] | tojson }};
        var pc_per_kev = {{ info['pc_per_kev'] | tojson }};
        var spe = {{ info['spe'] | tojson }};

        var light_output = new Array();
        for (var i=0; i < x.length; i++) {
            if (pc_per_kev[i] !== null)
                light_output.push({'x': x[i], 'y': pc_per_kev[i]*5.85*1000/spe[i]});
        }

        var spe_array = new Array();
        for (var i=0; i < x.length; i++) {
            if (spe[i] !== null)
                spe_array.push({'x': x[i], 'y': spe[i]});
        }

        var pc_per_kev_array = new Array();
        for (var i=0; i < x.length; i++) {
            if (pc_per_kev[i] !== null)
                pc_per_kev_array.push({'x': x[i], 'y': pc_per_kev[i]});
        }

        MG.data_graphic({
            title: "Light Output",
            description: "Light Output in PE/MeV. This is determined from the charge per unit energy deposited and the single photoelectron charge. Note that the results may be slightly less accurate for channels 7, 8, 23, and 24 which are adjacent to an unpowered bar and so contain more crosstalk.",
            data: light_output,
            chart_type: 'point',
            width: $('#ch-light-output').width(),
            height: 250,
            left: 100,
            target: '#ch-light-output',
            x_accessor: 'x',
            y_accessor: 'y',
            x_label: 'Channel',
            y_label: 'Light Output (PE/MeV)'
        });

        MG.data_graphic({
            title: "SPE Charge",
            description: "Single photoelectron charge in pC.",
            data: spe_array,
            chart_type: 'point',
            width: $('#ch-spe').width(),
            height: 250,
            left: 100,
            target: '#ch-spe',
            x_accessor: 'x',
            y_accessor: 'y',
            x_label: 'Channel',
            y_label: 'SPE Charge (pC)',
            yax_format: d3.format('.2f')
        });

        MG.data_graphic({
            title: "LYSO Fit",
            description: "Charge per unit energy deposited as determined from the LYSO Fit. Note that this is with attenuation turned on, so to directly compare with the SPE charge you should multiply by a factor of 5.85. Also note that the results may be slightly less accurate for channels 7, 8, 23, and 24 which are adjacent to an unpowered bar and so contain more crosstalk.",
            data: pc_per_kev_array,
            chart_type: 'point',
            width: $('#ch-pc-per-kev').width(),
            height: 250,
            left: 100,
            target: '#ch-pc-per-kev',
            x_accessor: 'x',
            y_accessor: 'y',
            x_label: 'Channel',
            y_label: 'Charge per unit Energy Deposited (pC/keV)',
            yax_format: d3.format('.2f')
        });
    </script>
{% endblock %}
